*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.a
*.lib

*.exe
*.out
*.app

/build/
/bin/
/lib/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.cmake

.vscode/
.idea/
*.code-workspace

.DS_Store

Thumbs.db
*.out
